

/* Variables */
@import '../styles/variables/colors.css';
@import '../styles/variables/sizes.css';
@import '../styles/variables/spacers.css';
@import '../styles/variables/typography.css';

/* Global styles */
@import '../styles/global-styles/colors.css';
@import '../styles/global-styles/spacers.css';
@import '../styles/global-styles/typography.css';
@import '../styles/global-styles/button-links.css';
@import '../styles/global-styles/filters.css';
@import '../styles/global-styles/layouts.css';
@import '../styles/global-styles/forms.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}