

.blogTopGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--gap-regular);
}

.blogAside {
    margin-top: var(--size-28);
}

.blogList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--gap-regular);
  row-gap: var(--gap-large);
  margin-top: var(--gap-regular);
}

@media (max-width: 1024px) {
  .blogList,
  .blogTopGrid  {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {

  .blogListingSection {
    padding-top: 8rem;
  }
  
  .blogTopGrid  {
    display: flex;
    flex-direction: column;
  }

  .blogList {
    grid-template-columns: 1fr;
    gap: var(--gap-huge);
  }

  .blogAside {
    margin-top: -1rem;
    align-items: flex-end;
  }
}