.servisesHero {
    padding-top: var(--size-160);
}

.servicesHeader {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--gap-regular);
    padding-bottom: var(--gap-huge);
}

.serviceCategoriesList {
    display: flex;
    flex-direction: column;
    gap: var(--gap-huge);
}

.serviceCategoriesItem {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--gap-regular);
}

.serviceCardsList {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

@media (max-width: 768px) {

    .servisesHero{
        padding-top: 8rem !important;
        padding-bottom: var(--section-padding-y-small);
    }

    .servicesHeader {
        grid-template-columns: 1fr;
        padding-bottom: var(--gap-large);
    }

    .filterList {
        margin-left: auto;
    }

    .serviceCategoriesItem {
        display: flex;
        flex-direction: column;
        gap: var(--gap-large);
    }
}