:root {
  /* Section */
  --section-padding-x: 1.25rem;
  --section-padding-y-large: var(--size-160);
  --section-padding-y-regular: var(--size-120);
  --section-padding-y-small: 3rem;
  /* Inner padding (cards, blocks) */
  --inner-padding-large: 2.5rem;
  --inner-padding-regular: var(--size-20);
  --inner-padding-small: var(--size-16);
  /* Gaps */
  --gap-huge: 5rem;
  --gap-large: 2.5rem;
  --gap-regular: 1.25rem;
  --gap-small: 1rem;
  --gap-tiny: 0.75rem;
}